#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --primary-color: #0f0;
  --background-color: black;
}

.App-content {
  position: relative;
  z-index: 1;
}

.App {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--background-color);
}

form input {
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  transition: border-color 0.25s;
  margin-right: 4px;
}
